.bars-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dashed-line-svg {
    position: absolute;
    top: 48%;  
    width: 81%;
}

.dashed-line {
    stroke: #595e66;
    stroke-width: 1px;
    stroke-dasharray: 1.3, 1.69;
}

.bar-data {
    width: 16px; 
    background: var(--clr-data-gray);
    border-top: solid 2px #595e66;
    margin: 2.7px;
}

.bar-data:last-child {
    background-color: var(--clr-darkGreen);
    border-top: solid 2px var(--clr-green);
}

