.widget-card {
    position: relative;
    width: 400px;
    background-color: var(--clr-card);
    border: solid 1px var(--clr-card-border);
    border-radius: 12px;
    padding-bottom: 36px;
}

.card-container {
    margin-bottom: 6px;
}

.percentage-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
}

.percentage-div p:nth-child(2) {
    color: var(--clr-text-gray);
    font-size: 16px;
    font-weight: 700;
    margin: 7.5px 0px 18px 0px;
}

.percentage {
    color: var(--clr-green);
    font-size: 27px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 2px;
}

.weapon-div {
    color: var(--clr-secondaryText-gray);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 0.7em;
    right: 1.5em;
}